<div class="container mt-3">


    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item"><a routerLink="/home" class="nav-link">Home</a></li>
          <li class="list-group-item"><a routerLink="/donoradd" class="nav-link">Add Donor</a></li>
          <li class="list-group-item"><a routerLink="/viewdonor" class="nav-link">View Donor</a></li>
          <li class="list-group-item"><a routerLink="/about" class="nav-link">About</a></li>
          <li class="list-group-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  
  
  